<html>
<head>
	<script type="text/javascript" src="/jquery.js" ></script>
	<script type="text/javascript" src="/faye.js" ></script>
	<script type="text/javascript" src="/index.js" ></script>
</head>
<body>
	<h1>Faye stress testing client</h1>
	<div class="ticket-notifications" id="agent_collision_show">
		<div class="view-flip" rel="notice-popover"  id="agents_viewing" data-object="viewing" data-placement="right" title="Currently viewing">
		  <a href="#">
		    <div class="flip-front"></div>
		    <div class="flip-back">0</div>
		  </a>
		</div>

		<div class="reply-flip" rel="notice-popover" id="agents_replying" data-object="replying" data-placement="right" title="Currently replying">
		  <a href="#">
		    <div class="flip-front"></div>
		    <div class="flip-back">0</div>
		  </a>
		</div>
	</div>
	<script type="text/javascript">
	  jQuery(document).ready(function() {

	    var data = {
	      current_user_id : <%= current_user_id %>,
	      faye_host : "http://agentcollision-2118332086.us-east-1.elb.amazonaws.com/realtime",
	      client_opts : {
	        retry: 10,
	        timeout: 120
	      },
	      faye_server : "http://agentcollision-2118332086.us-east-1.elb.amazonaws.com/",
	      faye_auth_params :  <%- faye_auth_params %>,
	      current_user : "<%= current_user %>", 
	      agent_names : "<%= agent_names %>"
	    }
	    window.data = data;

	    channels = {};

		data['agent_collision_show'] = {
			ticket_path : "<%= ticket_path %>",
			ticket_id : <%= ticket_id %>,
			ticket_reply_channel : "<%= ticket_reply_channel %>",
			ticket_channel : "<%= agent_collision_ticket_channel %>"
		}

		channels["<%= base_channel %>"] = window.AgentCollisionShow.ticketChannelCallback;
		channels["<%= view_channel %>"] = window.AgentCollisionShow.viewChannelCallback;
	    window.channels = channels;
	    window.FreshdeskNode.data(data).addChannels(channels).init();

	  });
	  // var x = "/lvh.me/collision/131/reply"
	  // channels is "/lvh.me/collision/131"
	  // view channel is "/lvh.me/collision/131/view"
	  // ticket_channel : " agent_collision_ticket_channel(ticket.display_id)"
	</script>
</body>

</html>